<a href="https://colab.research.google.com/github/amodata/Tecahing-Paython-Basic-grade-11/blob/main/statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Teaching Python basic Grade 10

## Learning statement

In [3]:
print("hello world")

hello world

## Variable

In [ ]:
variable = 1

In [4]:
x = 1
y = 2

x + y

3

## Data Strcutures

### List

In [6]:
my_list = [ 1,2,3,4,5]
my_list[0]
my_list[-1]

5

### Dictionary

In [7]:
my_dict = {1: "one", 2:"two"}
type(my_dict)

dict

In [8]:
my_dict.keys()
my_dict.values()

dict_values(['one', 'two'])

### Loop

In [11]:
for key,value in my_dict.items():
  print (f"This is my key:{key}")
  print (f"This is my value:{value}")

This is my key:1
This is my value:one
This is my key:2
This is my value:two

In [12]:
for item in my_list:
  print(f"this is the value in my list: {item}")

this is the value in my list:1
this is the value in my list:2
this is the value in my list:3
this is the value in my list:4
this is the value in my list:5